* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header {
    max-width: 1512px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px;
    border: 1px solid #ccc;
    position: relative;
}
.logo {
    width: 94px;
    height: 34px;
    margin-left: 24px; 
    margin-right:40px;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 45px;
  }
  .search-container-left {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
    height: 42px;
    padding: 0;
    border-right: 1px solid #ccc; 
  }
  .search-container-left input {
    height: 100%;
    width: 100%;
    padding-left: 30px; 
    border: none;  
    border-radius: 8px 0 0 8px;  
    font-size: 16px;
  }
  .search-container-left .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
  }
  .search-container-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 42px;
    padding: 0;
  }
  .search-container-right input {
    width: 285px;
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 0 8px 8px 0; 
    font-size: 16px;
  }
  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 42px; 
    height: 42px;
    border-radius: 0 8px 8px 0;
  }
  .search-container input:focus {
    outline: none;
    border-color: #ccc;
  }
  .search-container .search-btn:focus {
    outline: none; 
  }
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 231px;
    cursor: pointer;
    gap: 21,8px;
    margin-right: 50px;
}
.signup-btn {
    padding: 8px 16px 8px 16px;
    background-color: #00798A;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    border: none;
}
.centered-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 70px; 
    height: 20px; 
    font-size: 14px;
    background-color: #fff; 
    border: none;
    cursor: pointer; 
  }
  .centered-button img {
    margin-right: 5px;
    width: 20px; 
    height: 20px; 
  }
.login {
  border: none;
}

@media (max-width: 393px) {
  .logo {
      margin-left: 24px; 
  }
  .buttons {
      margin-right: 15px; 
      width: auto;
  }
  .search-container {
    margin-top: 53px;
    margin-left: 20px;
  }
}

.main {
  background: rgb(248, 238, 248);
}

.main_up {
  max-width: 1196px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
} 
.main_up_right {
  max-width: 609px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  flex-grow: 1;
}
h1 {
  font-size: 42px;
}
p {
  font-size: 16px;
}
.meetup {
  width: 125px;
  height: 40px;
  padding: 8px 16px;
  background-color: #00798A;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.main_up_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 379px;
  height: 269px;
  margin-right: 162px;
  margin-bottom: 96px;
  flex-grow: 1;
  justify-content: flex-start; 
}
@media (max-width: 393px) {
  .main_up {
    width: 353px;
    width: 100%;
    min-height: 350px;
    flex-direction: column; 
    margin-left: 20px;
    margin-right: 20px;
  }
  .main_up_right h1 {
    font-size: 25px;
  }
  .main_up_right p {
    font-size: 12px;
  }
  .meetup {
    min-width: 95px;
    height: 30px;
    background-color: #00798A;
    color: white;
    border-radius: 10px;
    font-size: 11px;
    margin: auto;
  }
  .main_up_left img {
    width: 215px;
    height: 153px;
  }
  .main_up_left {
    justify-content: center;
    margin-bottom: 0px;
  }
}

.events {
   max-width: 1196px;
   width: 100%;
   height: 1373px;
   margin: auto;
}
.ev_near {
  width: 190px;
  height: 36px;
}
h2 {
  font-size: 28px;
}
.events_near {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.events_near_right {
  max-width: 1027px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px; 
}
.events_input {
  display: flex;
  align-items: center;
  position: relative;
  width: 240px;
  height: 44px;
  border-radius: 8px;
  color: #00798A;
  overflow: hidden; 
}
.events_input input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding-right: 30px;
  padding-left: 12px;
  background: #97cad13a 12%;
  outline: none; 
}
.events_input img {
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 22px;
  height: 22px;
}
.events_input input::placeholder { 
  color: #00798A; 
}
a {
  font-size: 16px;
  font-weight: 500px;
  text-decoration: none;
  color: #00798A; 
  padding-right: 5px;
}
@media (max-width: 393px) {
  .events {
    max-width: 353px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
 }
 .ev_near {
  width: 160px;
  height: 25px;
}
h2 {
  font-size: 20px;
}
 .events_near {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
 }
 .events_near_right {
   max-width: 1027px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 12px; 
 }
 .events_input {
   display: flex;
   align-items: center;
   position: relative;
   width: 164px;
   height: 30px;
   border-radius: 8px;
   color: #00798A;
   overflow: hidden; 
 }
 .events_input input {
   width: 100%;
   height: 100%;
   font-size: 13.71px;
   font-weight: 600;
   border: none;
   padding-right: 30px;
   padding-left: 12px;
   background: #97cad13a 12%;
   outline: none; 
 }
 .events_input img {
   position: absolute;
   right: 10px;
   cursor: pointer;
   width: 22px;
   height: 22px;
 }
 .events_input input::placeholder { 
   color: #00798A; 
 }
 a {
  display: none;
 }
}


.events_parent {
  /* border: 1px solid grey; */
  max-width: 1196px;
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 35px; 
  }
.event_child {
  width: 272px;
  height: 399px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.event_child_img {
  width: 272px;
  height: 153px;
}
.event_child_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 272px;
  height: 214px;
  margin-top: 12px;
}
.event_child_content h3 {
  font-size: 20px;
  font-weight: 600;
}
.event_child_content p {
  font-size: 14px;
}
.data {
  display: flex;
  gap: 10px;
}
.data p {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.info {
  display: flex;
  gap: 16px;
}
.going {
  width: 87px;
  display: flex;
  gap: 5px;
  font-size: 6px;
}
.going p {
  font-size: 16px;
}
.free {
  width: 80px;
  display: flex;
  gap: 5px;
  font-size: 16px;
}
.free p {
  font-size: 16px;
}
@media (max-width: 393px) {
  .events_parent {
    display: grid; 
    grid-template-columns: 1fr;
    grid-gap: 10px;
       }
  .event_child {
    width: 364px;
    height: 87px;
    display: flex;
    flex-direction: row;
  }
  .event_child_img {
    margin-top: 5px;
    width: 96px;
    height: 64px;
  }
  img {
    width: 96px;
    height: 54px;
  }
  .event_child_content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 265px;
    height: 64px;
    margin-top: 0px;
    margin-left: 10px;
  }
  .event_child_content h3 {
    font-size: 14px;
    font-weight: 600;
  }
  .event_child_content p {
    font-size: 12px;
  }
  .data {
      display: flex;
    gap: 2px;
  }
  .data p {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .data img {
    width: 12px;
    height: 12px;
  }
  .info {
    display: flex;
    gap: 5px;
  }
  .going {
    width: 80px;
    display: flex;
    gap: 5px;
  }
  .going p {
    font-size: 10px;
  }
  .going img {
    width: 12px;
    height: 12px;
  }
  .free {
    width: 80px;
    display: flex;
    gap: 5px;
  }
  .free p {
    font-size: 10px;
  }
  .free img {
    width: 12px;
    height: 12px;
  }
}

.events_online {
  max-width: 1196px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.see {
  display: flex;
  align-items: center;
}



.join_meetup {
  max-width: 1196px;
  width: 100%;
  height: 236px;
  margin: auto;
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
  background: #d3ebef45;
} 
.join_meetup_right {
  max-width: 629px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 36px;
  padding-left: 56px;
}
.join_meetup_right h2 {
  font-size: 28px;
}
.join_meetup_right p {
  font-size: 16px;
}
.singup {
  width: 192px;
  height: 40px;
  padding: 8px 16px;
  background-color: #E32359;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.join_meetup_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 341px;
  height: 196px;
  margin-right: 56px;
  margin-bottom: 96px;
}
@media (max-width: 393px) {
  .join_meetup {
    width: 366px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column-reverse; 
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .join_meetup h2 {
    font-size: 20px;
    position: absolute; 
    top: 6px;
    left: 1px; 
  }
  .join_meetup_left img {
    width: 238px;
    height: 137px;
  }
  .join_meetup_left {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 15px; 
    margin-bottom: 0; 
  }
  .join_meetup_left img {
    width: 238px;
    height: 137px;
  }
  .join_meetup_right {
    display: flex;
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 20px;
  }
  .join_meetup_right p {
    width: 100%;
    font-size: 12px;
  }
  .join_meetup_right .singup {
    margin: auto;
    font-size: 14px;
  }
}


.explore {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;
  max-width: 1196px;
  width: 100%;
  height: auto;
  margin: auto;
}
.explore_titel {
  font-size: 28px;
  font-weight: 600;
}
.explore_items {
  display: flex;
  text-align: center;
  gap: 16px;
}
.exp_item {
  width: 135px;
  height: 112px;
  background: #d3ebef45;
  gap: 5px;
  padding-top: 20px;
  border-radius: 5px;
}
.exp_item p {
  font-size: 16px;
}
@media (max-width: 393px) {
  .explore {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .explore_titel {
    font-size: 20px;
  }
  .explore_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    column-gap: 6px; 
    row-gap: 10px;
   }
  .exp_item {
    width: 135px;
    height: 112px;
    background: #d3ebef45;
    gap: 5px;
    padding: 15px;
    border-radius: 5px;
  }
  .exp_item img {
    width: 20px;
    height: 20px;
  }
}

.popular {
  max-width: 1196px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popular h2 {
  font-size: 28px;
}
.popular p {
  font-size: 16px;
  color: #707070;
}
@media (max-width: 393px) {
.popular {
  margin-left: 20px;
  gap: 12px;
}
.popular h2 {
  font-size: 20px;
}
.popular p {
  font-size: 12px;
}
}

.cities {
  display: flex;
  flex-direction: row;
  gap: 41px;
  max-width: 1196px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 28px;
}
.city {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.city img {
  width: 205px;
  height: 205px;
  text-align: center;
}
.city h3 {
  text-align: center;
  font-size: 20px;
}
@media (max-width: 393px) {
  .cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 19px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .cities .city:last-child {
    display: none;
  }
  .city {
    gap: 18px;
  }
  .city img {
    width: 153px;
    height: 153px;
  }
  .city h3 {
    font-size: 15px;
  }
}

.how_works {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1196px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 64px;
}
.works_up {
  margin-left: 0px;
}
.works {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.works_down {
  display: flex;
  flex-direction: row;
  gap: 44px;
  width: 580px;
  height: 180px;
  background: #d3ebef45;
  padding: 32px 112px 24px 24px;
}
.down_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.down_content h4 {
  font-size: 20px;
}
.down_content p {
  font-size: 16px;
}
.down_content a {
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 393px) {
  .how_works {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 64px;
  }
  .works_up {
    margin-left: 0px;
  }
  .works_up h3 {
    font-size: 20px;
  }
  .works {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .works_down {
    display: flex;
    flex-direction: row;
    gap: 14px;
    width: 360px;
    height: 112px;
    background: #d3ebef45;
    padding: 20px 15px;
   }
  .down_img img {
    width: 25px;
    height: 25px;
  }
  .down_content {
    width: 236px;
    height: 77px;
    gap: 10px;
    overflow: visible;
  }
  .down_content h4 {
    font-size: 12px;
  }
  .down_content p {
    font-size: 10px;
  }
  .down_content a {
    font-size: 10px;
    word-wrap: break-word;
  }
}

.friendships {
  max-width: 1196px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.friendships h2 {
  font-size: 28px;
}
.friendships p {
  font-size: 16px;
  color: #707070;
}
@media (max-width: 393px) {
.friendships {
  margin-left: 20px;
  gap: 12px;
}
.friendships h2 {
  font-size: 20px;
}
.friendships p {
  display: none;
}
}
 

.events_down {
  display: flex;
  flex-direction: row;
  gap: 32px;
  max-width: 1196px;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 28px;
}
.down_cards {
  width: 376px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.down_cards img {
  width: 376px;
  height: 192px;
}
.down_cards h4 {
  font-size: 18px;
  line-height: 28px;
  padding-right: 105px;
}
.down_cards p {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  padding-right: 30px;
}
.down_cards  {
  font-size: 16px;
  font-weight: 400;
}
.down_cards a:hover {
  text-decoration: underline;
}
@media (max-width: 393px) {
  .events_down {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 364px;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 27px;
  }
  .down_cards {
    gap: 10px;
  }
  .down_cards img {
    width: 344px;
    height: 183px;
  }
  .down_cards h4 {
    font-size: 16px;
    line-height: 26px;
  }
  .down_cards p {
    font-size: 12px;
    line-height: 23px;
    padding-right: 110px;
  }
  .down_cards a:hover {
    text-decoration: underline;
  }
}